<h1>Log In</h1>
<form action="/login" method="post">
	<div class="formline"><input type="text" name="username" placeHolder="username"></div>
	<div class="formline"><input type="password" name="password" placeHolder="password"></div>
	<div class="formline"><input type="submit" value="Login"></div>
</form>
<a href="/signup">Sign up</a>