body {
  padding-top: 50px;
}

.login {
  display: none;
  position: absolute;
  left: 1300px;
}

.signup {
  display: none;
  position: absolute;
  left: 1300px;
}

.divider{
  background-color: rgba(61, 201, 179, 1);
  width: 100%;
  height: 5px;
  position: relative;
  left: 0px;
}

.wide {
  width:100%;
  height:700px;
  background-image:url('/img/hero-bg.jpg');
  background-size:cover;
  position: fixed;
  top: 55px;
  left: 0px;
}

.table_fixed {
  position: fixed;
  top: 750px;
  width: 100%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  padding:25px;
  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
}

.hero h1 {
  font-size: 40px;
  letter-spacing: 12px;
  margin: 40px 0 10px;
  font-weight: 900;
  color: #fff;
}

.hero h1 span {
  color: #a1a9b0;
  display: inline-block;
}

.learn-more-btn {
  background: rgba(61, 201, 179, 1);
  padding: 20px 40px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px; display: inline-block;
  box-shadow: 0px 3px 0px 0px #309383;
  margin: 60px 0 0;
  font-weight: bold;
}

.learn-more-btn:hover,
.learn-more-btn:focus {
  background: rgba(61, 201, 179, 0.6);
  color: #fff;
}

.brand-heading {
  font-size: 40px;
}
ul.dropdown-menu {
  top: 3.5em;
}

.question-line {
  margin-left: 5px;

}
.choice-line{
    margin-left: 15px;


}

input[type="radio"] {
  margin-right: 5px !important;
}