.container {
  margin: 0 auto;
  width: 700px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  display: block;
}
th {
  text-align: left;
}
.center {
  margin: 0 auto;
  text-align: center;
}

.formline {
  width: 100%;
  margin: 5px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}


header {
  background: black;
  padding: 5px;
  display: block;
  width: 100%;
  height: 3em;


}
header div {
  padding: 5px 5px;



}

header #rightnav {
  float: right;
}

header #leftnav {
  float: left;


}

header a, header a:hover {
  color: white;


}

