<h1>Welcome to Your Homepage</h1>
<section class="hero" id="intro">
	<div class="container">
		<div class="row">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-center">
			<a href="/authentication/signup" class="learn-more-btn btn-scroll">+Create Survey</a>
		</div>
	</div>
</section>
</div>

<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Survey Name</th>
				<th>Last Modified</th>
				<th>Responses</th>
				<th>Actions</th>

			</tr>
		</thead>
		<tbody>


			
				<% @surveys.each do |survey| %>
				<tr>
					<td><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></td>
					<td><%= survey.updated_at.strftime("%d/%m/%Y at %H:%M")%></td>
					<td>N/A</td>
					<td><a href="/surveys/<%= survey.id %>/edit">Edit</a> | Stats | Delete</td>
				</tr>
				<% end %>

			



		</tbody>
	</table>




</div>