<div>
  <form action='/authentication/login' method='post'>
    <br>
    <br>
    <input type='text' name='email' placeholder='EMAIL'/><br>
    <input type='password' name='password' placeholder='PASSWORD'/><br>
    <input class="btn btn-default"  type='submit' value='signin'/>
  </form>
</div>
