<div><h3>Create New Survey</h3></div>
<form action="/surveys/new" method="post">
  <div class="formline"><input type="text" name="title" placeHolder="title"></div>
  <div class="formline"><input class="btn btn-default" type="submit" value="Create New Survey"></div>
</form>

