
<form action="/surveys" method="post">
  <div class="formline"><input type="text" name="title" placeHolder="title"></div>
  <div class="formline"><textarea name="content" id="" cols="10" rows="5"></textarea></div>
  <div class="formline"><input type="submit" value="Create New Survey"></div>
</form>

