<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">SURVEY DOGGIE</a>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/authentication/signin">Login</a></li>
        <li><a href="/authentication/signup">SignUp</a></li>
      </ul>
  </div>
</div>

<div class="divider"></div>



 <div class="wide">
    <section class="hero" id="intro">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <a href="/authentication/signup" class="learn-more-btn btn-scroll">+Create Survey</a>
      </div>
    </div>
  </div>
</section>
</div>

<div>
  <ul class="list-group">
 <% @surveys.each do |survey| %>
    <li><%= survey.title %></li>
  <% end %>
</ul>
</div>

<!--
<div>
<ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
</div>
 -->
