<p>Welcome to my LightSaber.  Prepare to be amazed.</p>
<p><a href="/ajax_users">ajax_users</a></p>
<p><a href="/guess">guess</a></p>
<p><a href="/test">test</a></p>
<button id="moduleTest">Test</button>