<form action='/authentication/signin' method="get">
    <button type="login">Login</button>
</form>
<form action='/authentication/signup' method="get">
    <button type="signup">Signup</button>
</form>