<div class="wide">
<section class="hero" id="intro">
    <div class="container">
      <div class="row">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <a href="/surveys/new" class="learn-more-btn btn-scroll">+Create Survey</a>
      </div>
    </div>
  </div>
</section>

<div class="login">
  <form action='/authentication/login' method='post'>
    <br>
    <br>
    <input type='text' name='email' placeholder='EMAIL'/><br>
    <input type='password' name='password' placeholder='PASSWORD'/><br>
    <input type='submit' value='signin'/>
  </form>
</div>

<div class="signup">
  <form action='/authentication/register_user' method='post'>
    <br>
    <br>
    <input type='text' name='email' placeholder='EMAIL'/><br>
    <input type='text' name='password' placeholder='PASSWORD'/><br>
    <input type='text' name='password_confirm' placeholder='PASSWORD'/><br>
    <input type='submit' value='sign up'/><br>
  </form>
</div>

</div>

<div class="table_fixed">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Survey Name</th>
        <th>Last Modified</th>
      </tr>
    </thead>
    <tbody>
      <% @surveys.each do |survey| %>
      <tr>
        <td><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></td>
        <td><%= survey.updated_at.strftime("%d/%m/%Y at %H:%M")%></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>